<%
  if (params[:do].eql? "add") then
    puts 'add'

    #get Benutzer
    sqlB3 = "SELECT ID FROM MDH_USERS WHERE ID =#{params[:berater_id]}"
    stmtB3 = IBM_DB.exec($conn, sqlB3)
    berater = IBM_DB.fetch_assoc(stmtB3)

    sqlB2 = "SELECT BENUTZER_ID FROM BENUTZER WHERE BENUTZER_ID =#{berater['ID']}"
    stmtB2 = IBM_DB.exec($conn, sqlB2)
    joomla = IBM_DB.fetch_assoc(stmtB2)

    sqlB1 = "SELECT BERATER_ID FROM BERATER WHERE BERATER_ID ='#{joomla['BENUTZER_ID']}'"
    stmtB1 = IBM_DB.exec($conn, sqlB1)
    benutzer = IBM_DB.fetch_assoc(stmtB1)


    sql1 = "INSERT INTO HAUSPAKET (HAUSPAKET_ID, HERSTELLER_ID, BERATER_ID, BEZEICHNUNG, PREIS, GRUNDFLAECHE, WOHNFLAECHE, STOCKWERKE, BENUTZER_ID, ARCHIVED)
    VALUES((select max(HAUSPAKET_ID)+1 from HAUSPAKET),#{params[:hersteller_id]}, #{benutzer['ID']},
    '#{params[:bezeichnung]}',#{params[:preis]},#{params[:grundflaeche]},#{params[:wohnflaeche]},
    #{params[:stockwerke]},#{params[:benutzer_id]},'#{params[:archived]}')"

    begin
      stmt1 = IBM_DB.exec($conn, sql1)
      stmt2 = IBM_DB.exec($conn, 'COMMIT')

      puts "Add: #{stmt1}"
      puts "Comit: #{stmt2}"
      #IBM_DB.free_result(stmt1)
      #IBM_DB.free_result(stmt2)
    end
  end
%>

<%
  if (params[:do].eql? "del") then

    sql2 = "DELETE FROM HAUSPAKET WHERE HAUSPAKET_ID = #{params[:id]}"

    begin
      stmt1 = IBM_DB.exec($conn, sql2)
      stmt2 = IBM_DB.exec($conn, 'COMMIT')

      puts "Del: #{stmt1}"
      puts "Comit: #{stmt2}"
      #IBM_DB.free_result(stmt1)
      #IBM_DB.free_result(stmt2)
    end
  end
%>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</head>
<body>
<form>
  <%= render 'welcome/navigation' %>
</form>
<div class="container" style="margin-left: 10px">
  <h2>Hauspakete</h2>

  <div class="container">

    <table class="table table-hover">
      <thead>
      <tr>
        <th>Action</th>
        <th>Haus_ID</th>
        <th>Hersteller</th>
        <th>Berater</th>
        <th>Bezeichnung</th>
        <th>Preis</th>
        <th>Grundfl.</th>
        <th>Wohnfl.</th>
        <th>Stockwerke</th>
        <th>Benutzer_ID</th>
        <th>Archived</th>
      </tr>
      </thead>
      <tbody>

      <form class="form-inline">
        <div class="form-group">
          <input type="hidden" name="do" value="add">
          <tr>
            <td><input type="submit" value="+" class="btn btn-default btn-md" style="margin-left: 10px;"></td>
            <td></td>
            <td>
              <%
                if $conn

                  sqlH2 = "SELECT * FROM HERSTELLER"

                  begin
                    if stmt = IBM_DB.exec($conn, sqlH2)
                    @listbox = '<select class="form-control" name="hersteller_id">'
                      while rowoben = IBM_DB.fetch_assoc(stmt)
                        @listbox += "<option value='#{rowoben['HERSTELLER_ID']}'>#{rowoben['NAME']}</option>"
                       end
                       @listbox += "</select>"
                       end
                  end
                  IBM_DB.free_result(stmt)
                end

              %>
              <%= @listbox.html_safe %>
            </td>
            <td>
              <%
                if $conn

                  sqlU = "SELECT * FROM MDH_USERS"

                  begin
                    if stmt = IBM_DB.exec($conn, sqlU)
                    @listbox2 = '<select class="form-control" name="berater_id">'
                      while rowoben = IBM_DB.fetch_assoc(stmt)
                        @listbox2 += "<option value='#{rowoben['BERATER_ID']}'>#{rowoben['NAME']}</option>"
                       end
                       @listbox2 += "</select>"
                       end
                  end
                  IBM_DB.free_result(stmt)
                end
              %>
              <%= @listbox2.html_safe %>

            </td>
            <td><input type="text" name="bezeichnung"></td>
            <td><input type="number" name="preis"></td>
            <td><input type="number" name="grundflaeche"></td>
            <td><input type="number" name="wohnflaeche"></td>
            <td><input type="number" name="stockwerke"></td>
            <td><input type="number" name="benutzer_id"></td>
            <td><input type="text" name="archived"></td>
          </tr>
        </div>
      </form>


      <%

        if $conn
          puts "We're connected!"
          sql = "SELECT * FROM HAUSPAKET"

          begin
            if stmt = IBM_DB.exec($conn, sql)
              while row = IBM_DB.fetch_assoc(stmt)
                #get Hersteller
                sqlH = "SELECT NAME FROM HERSTELLER WHERE HERSTELLER_ID ='#{row['HERSTELLER_ID']}'"
                #stmtH = IBM_DB.exec($conn, sqlH)
                #hersteller = IBM_DB.fetch_assoc(stmtH)
                hersteller = "DummyFirma"

                #get Benutzer
                sqlB1 = "SELECT BENUTZER_ID FROM BERATER WHERE BERATER_ID ='#{row['BERATER_ID']}'"
                stmtB1 = IBM_DB.exec($conn, sqlB1)
                benutzer = IBM_DB.fetch_assoc(stmtB1)

                sqlB2 = "SELECT JOOMLA_USER_ID FROM BENUTZER WHERE BENUTZER_ID =#{benutzer['BENUTZER_ID']}"
                stmtB2 = IBM_DB.exec($conn, sqlB2)
                joomla = IBM_DB.fetch_assoc(stmtB2)

                sqlB3 = "SELECT NAME FROM MDH_USERS WHERE ID =#{joomla['JOOMLA_USER_ID']}"
                stmtB3 = IBM_DB.exec($conn, sqlB3)
                berater = IBM_DB.fetch_assoc(stmtB3)

                @hauspaket = Hauspaket. new( row['HAUSPAKET_ID'], hersteller, berater['NAME'], row['BEZEICHNUNG'], row['PREIS'], row['GRUNDFLAECHE'], row['WOHNFLAECHE'], row['STOCKWERKE'], row['BENUTZER_ID'], row['ARCHIVED'])
%>
              <tr>
                <form class="form-inline">
                  <div class="form-group">
                    <td><input type="submit" value="-" class="btn btn-default btn-md" style="margin-left: 10px;">
                      <input type="hidden" name="do" value="del">
                      <input type="hidden" name="id" value="<%= @hauspaket.hauspaket_id %>">
                    </td>
                  </div>
                </form>

                <td><%= @hauspaket.hauspaket_id %></td>
                <td><%= @hauspaket.hersteller_id %></td>
                <td><%= @hauspaket.berater_id %></td>
                <td><%= @hauspaket.bezeichnung %></td>
                <td><%= @hauspaket.preis %></td>
                <td><%= @hauspaket.grundflaeche %></td>
                <td><%= @hauspaket.wohnflaeche %></td>
                <td><%= @hauspaket.stockwerke %></td>
                <td><%= @hauspaket.benutzer_id %></td>
                <td><%= @hauspaket.archived %></td>
              </tr>
          <%
            end
            end
            IBM_DB.free_result(stmt)
            end
            end
            IBM_DB.close($conn)

          %>
      </tbody>
    </table>
  </div>

</body>
</html>